.candidate {
  border-bottom: 1px solid #ccc;
  margin: 8px;
  padding: 20px;

  > div {
    margin-bottom: 8px;
  }
}

button {
  margin-right: 3px;
  padding: 8px;
  background: #e8e8e8;
  border: 1px solid #888;

  &:last-of-type {
    margin-right: 20px;
  }
}
