@import '../variables.scss';

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.bd {
  position: relative;
}

.reticule {
  border: 1px solid red;
  width: 64px;
  height: 64px;
  position: absolute;
}
